.App {
  text-align: center;
}

h1 {
  text-align: center;
}

.main-content {
  padding-top: 40px; /* Adjust this value to match the height of your top bar */
}


/* movies list css */
div.movies-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

div.movie-item {
  margin: 10px;
  text-align: center;
}

img.movie-image {
  max-width: 150px;
  height: auto;
}

button.vote-button {
  margin-top: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

/* movie card */
div.movie-card {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  width: 200px;
  text-align: center;
}

img.movie-image {
  max-width: 100%;
  height: 200px; /* Limiting the height to 180px */
  object-fit: cover; /* This will ensure that the image covers the space without distortion */
}

h3.movie-title {
  font-size: 16px;
  margin: 10px 0;
}

p.movie-score {
  font-size: 14px;
  color: #333;
}

div.star-rating {
  display: flex;
  justify-content: center;
}

span.star {
  font-size: 20px;
  cursor: pointer;
  padding: 0 5px;
  color: #ccc;
}

span.star.selected {
  color: gold;
}

